ActionBar
{
    height: 0;
}

Page > StackLayout
{
    background-color: hsl(0, 5%, 44%);
}

FlexboxLayout
{
    justify-content: space-between;
    flex-flow: row wrap;
}

FlexboxLayout > Button
{
    width: 27%;
    height: 100;
    border-radius: 11% 11% 11% 11% ;
    background-color: #f1b2b2;
    margin-top: 15;
}

FlexboxLayout > button:highlighted
{
    background-color: hsl(0, 23%, 52%);
}

FlexboxLayout > button .logo
{
    color: black;
    font-size: 25px;
}

FlexboxLayout > button .text
{
    font-size: 20px;
}
